body {
    width : 100%;
    margin-top: 0;
    }

/* CSS pour page ACCUEIL */


/* CSS pour page COMMANDER */
.commander-background-color {
    background-color: #3B8E46;
}

/* On fait disparaitre le bouton 'add to cart' */
.button.single_add_to_cart_button.button.alt{
    display: none;
}

/* On ajoute une ligne de separation horizontale */
.commander-border{
    color: white;
    padding-bottom: 30px;
    border-bottom: 2px solid;
}

/* Formulaire sur 2 colonnes */
.formulaire-commande{
    background-color: #3B8E46;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire-2-col{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 20px;
}

.formulaire-2-col label{
    min-width: 0;
}

#ligne-cf7{
    border-radius: 30px;
}

/* Ajout séparation blanche entre les 2 colonnes du formulaire */
.col-droite{
    border-left: 2px solid;
    padding-left: 30px;
}

/*
form.wpcf7-form input,
form.wpcf7-form select,
form.wpcf7-form textarea {
    border: 1px solid #ececed;
    border-radius: 30px;
    background: #3B8E46;
}
*/

/* CSS pour page RENCONTRER */
.rencontrer-background-color{
    background-color: #e3d9d0;
}
.rencontrer-background-1 {
    background-color: #3B8E46;
}

.border-2{
    height: 60px;
    width: 100%;
    background-color: #E3D9D0;
    border-radius: 0 0 80% 80%;
    /*
    box-shadow: 0 10px 0 #dcd5cf;
    */
}
.border-3 {
    border-radius: 50% / 0% 0% 15% 15%;
}
.border-4{
    border-radius: 50% / 0% 0% 3% 3%;
}

.position{
    position: relative;
    max-width: 640px;
}

.rencontrer-background{
    position: absolute;
    right: 53%;
    bottom: 10%;
}
.formulaire-rencontrer{
    background-color: #e3d9d0;
    color: black;
}
.formulaire-rencontrer h3{
    text-align: center;
    color: black;
}

@media (max-width:560px){
    /* Page COMMANDER : 
    on remet le formulaire en colonnes
    pour les smartphones */
    .formulaire-2-col{
        flex-direction: column;
    }
}