/* Import de la font Syne et application sur tous les éléments de la page */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
body * {
    font-family: 'Syne', sans-serif;
}
/* Menu **************************************/
/* Effet hover sur lien Admin pour qu'il soit identique aux autres liens */
.hover-effect {
    transition: transform 0.3s ease;
}
.hover-effect:hover {
    transform: scale(1);
    transition: transform 0.3s ease;
}
.site-header .site-description {
    font-weight: 600;
}
.main-header-menu > .menu-item > .menu-link {
    justify-content: center;
}
/* Mise en forme du bouton Commander */
#ast-hf-menu-1 #menu-item-237 {
    color:#ffffff;
}
#ast-hf-menu-1 #menu-item-237 {
    background-color: #DC9F96;
    font-weight: 600;
    width: 236px;
    height: 80px;
}
#ast-hf-menu-1 #menu-item-237:hover {
    background-color: #C02E44;
}
.site-primary-header-wrap.ast-builder-grid-row-container.site-header-focus-item.ast-container {
    padding-right: 0;
}

/* Menu footer ********************************/
#astra-footer-menu .menu-item-200 {
    display: none;
}

/* Pas d'affichage des titres de page */
.entry-title {
    display: none;
}

h1 {
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 800!important;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
   text-align: center;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
}

p {
    color: #000;
    text-align: center;
    font-family: 'Syne';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* CSS pour page ACCUEIL **********************/
.accueil {
    padding-top: 60px;
}
.accueil-entete {
    background-color: #E3D9D0;
}
.accueil-entete img {
    padding-top: 40px;
}
/* Gestion de l'arrondi */
.accueil-arrondi{
    height: 60px;
    width: 100%;
    background-color: #E3D9D0;
    border-radius: 0 0 80% 80%;
    box-shadow: 0 10px 0 #dcd5cf;
}
/* Partie Energie */
.energie {
    margin-top: 60px;
}
.energie-plante h2 {
    text-transform: none;
}
.energie p {
    text-align: center;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 20px;
}
/* Partie Gouts */
.gouts {
    padding-top: 40px;
    background-color: #E3D9D0;
}
.gouts h2 {
    font-weight: 800;
 }
 .gouts p {
    text-align: center;
    padding-bottom: 30px;
 }
 .gouts-images {
    background-color: #E3D9D0;
 }
 /* Gestion de l'arrondi */
.gouts-arrondi{
    height: 60px;
    width: 100%;
    background-color: #E3D9D0;
    border-radius: 0 0 80% 80%;
}
/* Partie Avis */
.avis {
    padding-top: 40px;
}
.accueil-bas-page {
    padding-top: 60px;
}

/* Réglages communs pour les formulaires *********/
/* Hauteur de ligne  */
label {
    line-height: 2em;
}

/* CSS pour page COMMANDER ***********************/
.commander-background-color {
    background-color: #3B8E46;
}
/* On fait disparaitre le bouton 'add to cart' */
.button.single_add_to_cart_button.button.alt{
    display: none;
}
/* Cadrage du champ de saisie quantity */
.wp-block-add-to-cart-form {
    position: relative;
}
.cart {
    position: absolute;
    left: 40%;
}
/* Ajoute d'une ligne de separation horizontale */
.commander-border{
    color: white;
    padding-bottom: 30px;
    border-bottom: 2px solid;
}
/* Formulaire sur 2 colonnes */
.formulaire-commande{
    background-color: #3B8E46;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire-2-col{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 20px;
}

.formulaire-2-col label{
    min-width: 0;
}

#ligne-cf7{
    border-radius: 30px;
}

/* Ajout séparation blanche entre les 2 colonnes du formulaire */
.col-gauche{
    padding-right: 40px;
    border-right: 2px solid #fff;
}

.col-droite{
    padding-left: 30px;
}

/*
form.wpcf7-form input,
form.wpcf7-form select,
form.wpcf7-form textarea {
    border: 1px solid #ececed;
    border-radius: 30px;
    background: #3B8E46;
}

/* CSS pour page RENCONTRER *******************/
.contact {
    padding-top: 60px;
    background-color: #E3D9D0;
}
.contact h1 {
    padding-top: 80px;
}
/* Gestion de la fleur à déplacer dans l'en-tête */
.plante-1 {
    position: absolute;
    left: 5%;
    top: 7%;
    z-index: 0;
}
.contact-arrondi{
    height: 60px;
    width: 100%;
    border-radius: 0 0 80% 80%;
    background-color: #E3D9D0;
}
/* L'équipe */
/* Gestion du cadrage de la branche */
.plante-2 {
    position: absolute;
    right: 10%;
    bottom: 57%;
    z-index: 0;
}

/* Formulaire de contact ******/
.contacter-bg {
    background-color: #E3D9D0;
}
.contacter .wpcf7-form.init {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 40px;
    z-index: 1;
}
.contacter h2 {
    color: black;
    text-transform: none;
    padding-top: 50px;
}
/* Coins arrondis sur les champs de saisie */
.contacter input[type=email],
.contacter input[type=text],
.contacter textarea {
    border-radius: 7px;
}
.contacter p {
    text-align: left;
}
.contacter input[type=submit] {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 55%;
}
/* Gestion de la plante no 3 à glisser sous le formulaire */
.plante-3 {
    position: absolute;
    left: 29%;
    bottom: 18%;
    z-index: 0;
}

/* MEDIA QUERIES ******************************/
@media (max-width:560px){
    /* Page COMMANDER : 
    on remet le formulaire en colonnes
    pour les smartphones */
    .formulaire-2-col{
        flex-direction: column;
    }
}

